body {
    background-image: url('mypic.jpg');
    text-align: center;
}

p {
    color: chartreuse;
    font-size: 40px;
    margin: 20px;
}

label {
    color: violet;
}

.container {
    border: 10px solid rgb(236, 213, 213);
    margin-top: 5%;
    padding: 20px;
}
