body {
    background-image: url('mypic.jpg');
    text-align: center;
}

p {
    color: rgb(119, 0, 255);git add
    font-size: 40px;
    margin: 20px;
}

label {
    color: violet;
}

.container {
    border: 10px solid rgb(236, 213, 213);
    margin-top: 5%;
    padding: 20px;
}
